<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>РВИО</title>
</head>
<body>
    <style>
        .popup {
            display: none; /* Попап скрыт по умолчанию */
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .popup-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            text-align: center;
        }

        .close-btn {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close-btn:hover,
        .close-btn:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <%- include('refresh') %>
    <%- include('header') %>
    
    <div class="main-content">
        <div class="tabs">
            <div class="active">Мои карточки</div>
            <div>Новые карточки</div>
            <div>Упущенные карточки</div>
        </div>
        <div class="card-container">
            <% cards.forEach(card => { %>
                <div class="card" onclick="showDetails(this)">
                    <img src="/img/cards/cardImg1.jpg" alt="Card Image" id="card-image">
                    <p><strong id="card-title"><%= card.name %></strong><br><%= card.shortDesc %></p>
                    <p id="card-description" hidden><%= card.fullDesc %></p>
                    <div class="card-footer">
                        <div>lvl <span class="current-level">19</span></div>
                        <div>+<span class="current-exp"><%= card.baseExp %></span> опыта</div>
                    </div>
                </div>
            <% }); %>
            <!-- Модальное окно -->
            <div id="qr-popup" class="popup">
                <div class="popup-content">
                    <span class="close-btn" id="close-popup">&times;</span>
                    <h2>Сканировать QR-код</h2>
                    <div id="qr-reader" style="width: 300px;"></div>
                    <div id="qr-reader-results"></div>
                </div>
            </div>
            <!-- <div class="card-tmp" onclick="showDetails(this)">
                <img src="/img/cards/cardImg1.jpg" alt="Card Image" id="card-image">
                <p><strong id="card-title">День сухопутных войск России</strong><br>За Родину, за Победу!</p>
                <p id="card-description" hidden>💪 1 октября - День сухопутных войск России! 🪖 Поздравляем всех, кто защищает нашу Родину на суше! 🎉  Ваша сила и мужество - пример для всех! 🇷🇺</p>
                <div class="card-footer">
                    <div>lvl 5</div>
                    <div>+50 опыта</div>
                </div>
            </div>
            <div class="card-tmp" onclick="showDetails(this)">
                <img src="/img/cards/cardImg2.jpg" alt="Card Image" id="card-image">
                <p><strong id="card-title">День Военно-Морского Флота России</strong><br>Сила и слава российского флота!</p>
                <p id="card-description" hidden>⚓ 28 июля - День Военно-Морского Флота России! 🌊 Поздравляем всех моряков, которые защищают наши морские рубежи! 🚢  Ваша служба - это  верность, мужество и честь! 🇷🇺</p>
                <div class="card-footer">
                    <div>lvl 3</div>
                    <div>+30 опыта</div>
                </div>
            </div>
            
            <div class="card-tmp" onclick="showDetails(this)">
                <img src="/img/cards/cardImg3.jpg" alt="Card Image" id="card-image">
                <p><strong id="card-title">День Воздушно-десантных войск России</strong><br>Крылатая гвардия России!</p>
                <p id="card-description" hidden>🪂 2 августа - День Воздушно-десантных войск России! ✈️ Поздравляем всех десантников, которые  с честью выполняют свой долг! 🚀  Ваша смелость и  отвага -  пример для всех! 🇷🇺</p>
                <div class="card-footer">
                    <div>lvl 8</div>
                    <div>+80 опыта</div>
                </div>
            </div>
            
            <div class="card-tmp" onclick="showDetails(this)">
                <img src="/img/cards/cardImg4.jpg" alt="Card Image" id="card-image">
                <p><strong id="card-title">День ракетных войск стратегического назначения</strong><br>Стражи нашей Родины!</p>
                <p id="card-description" hidden>🚀 17 декабря - День ракетных войск стратегического назначения! 🛰️ Поздравляем всех ракетчиков, которые  несут  важнейшую службу по защите нашей страны! 🛡️ Ваша  преданность и  отвага -  настоящий пример! 🇷🇺</p>
                <div class="card-footer">
                    <div>lvl 2</div>
                    <div>+20 опыта</div>
                </div>
            </div>
            
            <div class="card-tmp" onclick="showDetails(this)">
                <img src="/img/cards/cardImg5.jpg" alt="Card Image" id="card-image">
                <p><strong id="card-title">День Победы</strong><br>Никто не забыт, ничто не забыто!</p>
                <p id="card-description" hidden>🕊️ 9 мая - День Победы! 🇷🇺 Помним и чтим подвиг наших предков, которые  защитили Родину от фашизма!  🪖  Вечная память героям! 🤝  Мир всем! 🕊️</p>
                <div class="card-footer">
                    <div>lvl 10</div>
                    <div>+200 опыта</div>
                </div>
            </div>
            
            <div class="card-tmp" onclick="showDetails(this)">
                <img src="/img/cards/cardImg6.jpg" alt="Card Image" id="card-image">
                <p><strong id="card-title">День защитника Отечества</strong><br>С праздником, защитники!</p>
                <p id="card-description" hidden>💪 23 февраля - День защитника Отечества! 🪖  Поздравляем всех мужчин, которые  служат и  служили Родине! 🇷🇺  Ваша  храбрость и  отвага -  наша гордость! 🎉</p>
                <div class="card-footer">
                    <div>lvl 10</div>
                    <div>+50 опыта</div>
                </div>
            </div> -->
        </div>
    
        <div class="details-panel" id="detailsPanel">
            <span class="close-btn" onclick="hideDetails()">×</span>
            <img src="https://via.placeholder.com/300x150" alt="Detail Image" id="detailImage">
            <h2 id="detailTitle">Я успеваю сделать все</h2>
            <p id="detailDescription">Передвигаюсь по городу без пробок и не ищу заправки</p>
            <br>
            <div class="details-footer">Вы владеете этой картой</div>
        </div>
    </div>
    <%- include('footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>
       window.onload = function () {
            const qrPopup = document.getElementById('qr-popup');
            const qrScanButton = document.getElementById('qr_scan');
            const closePopupButton = document.getElementById('close-popup');
            const resultContainer = document.getElementById('qr-reader-results');
            let html5QrCode;

            // Функция для открытия попапа
            function openPopup() {
                qrPopup.style.display = 'block';
                resultContainer.innerHTML = ""; // Очистить результаты

                // Запуск сканера при открытии попапа
                html5QrCode = new Html5Qrcode("qr-reader");

                Html5Qrcode.getCameras().then(cameras => {
                    if (cameras && cameras.length) {
                        const cameraId = cameras[0].id; // выбираем первую доступную камеру
                        html5QrCode.start(
                            cameraId,
                            { fps: 10, qrbox: 250 },
                            onScanSuccess,
                            onScanFailure
                        );
                    }
                }).catch(err => {
                    console.error("Ошибка получения камер:", err);
                });
            }

            // Функция для закрытия попапа
            function closePopup() {
                qrPopup.style.display = 'none';

                if (html5QrCode) {
                    html5QrCode.stop().then(ignore => {
                        html5QrCode.clear(); // Очищаем сканер
                    }).catch(err => {
                        console.error("Ошибка остановки сканера:", err);
                    });
                }
            }

            // Функция для обработки успешного сканирования
            function onScanSuccess(decodedText) {
                // Отображаем результат сканирования
                resultContainer.innerHTML = `<strong>QR-код:</strong> ${decodedText}`;
                
                // Отправляем данные с QR-кода на сервер
                fetch('/scan', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ qrData: decodedText }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    closePopup();
                    alert('QR-код успешно отправлен на сервер!');
                })
                .catch(error => {
                    console.error('Ошибка при отправке данных:', error);
                });
            }

            // Функция для обработки ошибок сканирования
            function onScanFailure(error) {
                console.warn(`QR код не распознан: ${error}`);
            }

            // Открытие попапа при нажатии на кнопку
            qrScanButton.addEventListener('click', openPopup);

            // Закрытие попапа при нажатии на кнопку закрытия
            closePopupButton.addEventListener('click', closePopup);

            // Закрытие попапа при клике вне его
            window.addEventListener('click', function(event) {
                if (event.target == qrPopup) {
                    closePopup();
                }
            });
        };

        document.addEventListener('DOMContentLoaded', function() {
            const cards = document.querySelectorAll('.card');
            let expSum = 0;
            cards.forEach(card => {
                const levelElement = card.querySelector('.current-level');
                const expElement = card.querySelector('.current-exp');
                
                const cardLevel = parseInt(levelElement.innerText, 10);
                const cardExp = parseInt(expElement.innerText, 10);
                
                const cardSum = cardExp * cardLevel;
                expElement.innerText = cardSum;
                expSum += cardSum;
            });
            console.log('!'+expSum);
            fillExpBar(expSum);
        });
    </script>
    <script>
        function fillExpBar(experience) {
            console.log(experience);
            const progressBarFill = document.querySelector('.progress-fill');
            const maxExperience = 200; // Example maximum experience points
            const progressPercentage = (experience / maxExperience) * 100;
            progressBarFill.style.width = progressPercentage + '%';
        }
    </script>
    <script>
        function showDetails(card) {
            document.getElementById('detailTitle').textContent = card.querySelector('#card-title').innerText;
            document.getElementById('detailDescription').textContent = card.querySelector('#card-description').innerText;
            document.getElementById('detailImage').src = card.querySelector('#card-image').src;
            document.getElementById('detailsPanel').classList.add('active');
        }

        function hideDetails() {
            document.getElementById('detailsPanel').classList.remove('active');
        }
    </script>
    <script>
        const colors = [
            '#FFB6C1', // Light Pink
            '#ADD8E6', // Light Blue
            '#E6E6FA', // Lavender
            '#F0E68C', // Khaki
            '#D3D3D3', // Light Gray
            '#98FB98', // Pale Green
            '#FFDAB9'  // Peach Puff
        ];

        const cards = document.querySelectorAll('.card');

        cards.forEach((card, index) => {
            const color1 = colors[index % colors.length];
            const color2 = '#2c2c2e';
            card.style.background = `linear-gradient(135deg, ${color1}, ${color2})`;
        });
    </script>
</body>
</html>