<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>РВИО</title>
</head>
<body>
    <style>
        .popup {
            display: none; /* Попап скрыт по умолчанию */
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .popup-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            text-align: center;
        }

        .close-btn {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close-btn:hover,
        .close-btn:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <%- include('refresh') %>
    <%- include('header') %>
    <div class="main-content">
        <div class="tabs">
            <div class="tab active" data-tab="my_cards">Мои карточки</div>
            <div class="tab" data-tab="new_cards">Новые карточки</div>
            <div class="tab" data-tab="missed_cards">Упущенные карточки</div>
            <div class="tab-indicator"></div>
        </div>
        <div class="card-container" id="my_cards">
            <% userCards.forEach(card => { %>
                <div class="card" data-card="<%= card.id %>" onclick="showDetails(this)">
                    <img src="<%= card.imgSrc %>" alt="Card Image" id="card-image">
                    <p><strong id="card-title"><%= card.name %></strong><br><%= card.shortDesc %></p>
                    <p id="card-description" hidden><%= card.fullDesc %></p>
                    <div class="card-footer">
                        <div><span class="current-level"><%= card.card_lvl %></span> ур.</div>
                        <div>+<span class="current-exp"><%= card.card_exp %></span> опыта</div>
                    </div>
                </div>
            <% }); %>
            
        </div>
        <div class="card-container none" id="new_cards">
            <% availableCards.forEach(card => { %>
                <div class="card" data-card="<%= card.id %>" onclick="showDetails(this)">
                    <img src="<%= card.imgSrc %>" alt="Card Image" id="card-image">
                    <p><strong id="card-title"><%= card.name %></strong><br><%= card.shortDesc %></p>
                    <p id="card-description" hidden><%= card.fullDesc %></p>
                    <div class="card-footer">
                    </div>
                </div>
            <% }); %>
        </div>

        <!-- Контейнер для упущенных карточек (можно добавить аналогично) -->
        <div class="card-container" id="missed_cards">
            <!-- Карточки упущенных карточек -->
        </div>

        <!-- Модальное окно -->
        <div id="qr-popup" class="popup">
            <div class="popup-content">
                <span class="close-btn" id="close-popup">&times;</span>
                <h2>Сканировать QR-код</h2>
                <div id="qr-reader" style="width: 300px;"></div>
                <div id="qr-reader-results"></div>
            </div>
        </div>
        <div class="details-panel" id="detailsPanel">
            <span class="close-btn" onclick="hideDetails()">×</span>
            <img src="https://via.placeholder.com/300x150" alt="Detail Image" id="detailImage">
            <h2 id="detailTitle">Я успеваю сделать все</h2>
            <p id="detailDescription">Передвигаюсь по городу без пробок и не ищу заправки</p>
            <br>
            <div class="details-footer" id="detailClaim" data-card="">Получить</div>
        </div>
    </div>
    <%- include('footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.querySelector('#detailClaim').addEventListener('click', function() {
            fetch('/claim_card', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ card_id: this.dataset.card }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Карта доавлена!');
                window.location.replace('/');
            })
            .catch(error => {
                console.error('Ошибка при отправке данных:', error);
            });
        })
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const tabs = document.querySelectorAll('.tab');
            const tabIndicator = document.querySelector('.tab-indicator');
            const cardContainers = document.querySelectorAll('.card-container');
        
            function updateIndicator(tab) {
                const tabRect = tab.getBoundingClientRect();
                const parentRect = tab.parentElement.getBoundingClientRect();

                const tabWidth = tabRect.width;
                const tabLeft = tabRect.left - parentRect.left;

                tabIndicator.style.width = `${tabWidth}px`;
                tabIndicator.style.left = `${tabLeft}px`;
            }
        
            tabs.forEach(tab => {
                tab.addEventListener('click', function() {
                    // Снимаем класс 'active' со всех вкладок
                    tabs.forEach(t => t.classList.remove('active'));
                    // Добавляем класс 'active' к выбранной вкладке
                    this.classList.add('active');
        
                    // Обновляем позицию индикатора
                    updateIndicator(this);
        
                    // Скрываем все контейнеры карточек
                    cardContainers.forEach(container => {
                        container.classList.remove('active');
                        container.classList.add('none');
                    });
                    // Отображаем связанный контейнер
                    const tabName = this.getAttribute('data-tab');
                    document.getElementById(tabName).classList.add('active');
                    document.getElementById(tabName).classList.remove('none');

                });
            });
        
            // Инициализируем позицию индикатора при загрузке страницы
            const initialTab = document.querySelector('.tab.active');
            if (initialTab) {
                updateIndicator(initialTab);
            }
        });
    </script>
    <script>
       window.onload = function () {
            const qrPopup = document.getElementById('qr-popup');
            const qrScanButton = document.getElementById('qr_scan');
            const closePopupButton = document.getElementById('close-popup');
            const resultContainer = document.getElementById('qr-reader-results');
            let html5QrCode;

            // Функция для открытия попапа
            function openPopup() {
                qrPopup.style.display = 'block';
                resultContainer.innerHTML = ""; // Очистить результаты

                // Запуск сканера при открытии попапа
                html5QrCode = new Html5Qrcode("qr-reader");

                Html5Qrcode.getCameras().then(cameras => {
                    if (cameras && cameras.length) {
                        const cameraId = cameras[0].id; // выбираем первую доступную камеру
                        html5QrCode.start(
                            cameraId,
                            { fps: 10, qrbox: 250 },
                            onScanSuccess,
                            onScanFailure
                        );
                    }
                }).catch(err => {
                    console.error("Ошибка получения камер:", err);
                });
            }

            // Функция для закрытия попапа
            function closePopup() {
                qrPopup.style.display = 'none';

                if (html5QrCode) {
                    html5QrCode.stop().then(ignore => {
                        html5QrCode.clear(); // Очищаем сканер
                    }).catch(err => {
                        console.error("Ошибка остановки сканера:", err);
                    });
                }
            }

            // Функция для обработки успешного сканирования
            function onScanSuccess(decodedText) {
                // Отображаем результат сканирования
                resultContainer.innerHTML = `<strong>QR-код:</strong> ${decodedText}`;
                
                // Отправляем данные с QR-кода на сервер
                fetch('/scan', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ qrData: decodedText }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    closePopup();
                    alert('QR-код успешно отправлен на сервер!');
                    window.location.replace('/');
                })
                .catch(error => {
                    console.error('Ошибка при отправке данных:', error);
                });
            }

            // Функция для обработки ошибок сканирования
            function onScanFailure(error) {
                console.warn(`QR код не распознан: ${error}`);
            }

            // Открытие попапа при нажатии на кнопку
            qrScanButton.addEventListener('click', openPopup);

            // Закрытие попапа при нажатии на кнопку закрытия
            closePopupButton.addEventListener('click', closePopup);

            // Закрытие попапа при клике вне его
            window.addEventListener('click', function(event) {
                if (event.target == qrPopup) {
                    closePopup();
                }
            });
        };

        document.addEventListener('DOMContentLoaded', function() {
            const cards = document.querySelectorAll('.card');
            let expSum = 0;
            cards.forEach(card => {
                const levelElement = card.querySelector('.current-level');
                const expElement = card.querySelector('.current-exp');
                
                const cardLevel = parseInt(levelElement.innerText, 10);
                const cardExp = parseInt(expElement.innerText, 10);
                
                const cardSum = cardExp;
                expElement.innerText = cardSum;
                expSum += cardSum;
            });
            fillExpBar(expSum);
        });
    </script>
    <script>
        function fillExpBar(experience) {
            const progressBarFill = document.querySelector('.progress-fill');
            const maxExperience = parseInt(100 * Math.pow(3, <%= user.lvl %> - 1)); // Example maximum experience points
            const progressPercentage = (experience / maxExperience) * 100;
            progressBarFill.style.width = progressPercentage + '%';
            console.log(experience + '/' + maxExperience);
        }
    </script>
    <script>
        function showDetails(card) {
            console.log(card);
            document.getElementById('detailTitle').textContent = card.querySelector('#card-title').innerText;
            document.getElementById('detailDescription').textContent = card.querySelector('#card-description').innerText;
            document.getElementById('detailImage').src = card.querySelector('#card-image').src;
            document.getElementById('detailsPanel').classList.add('active');
            document.getElementById('detailClaim').dataset.card = card.dataset.card;
        }

        function hideDetails() {
            document.getElementById('detailsPanel').classList.remove('active');
        }
    </script>
    <script>
        const colors = [
            '#FFB6C1', // Light Pink
            '#ADD8E6', // Light Blue
            '#E6E6FA', // Lavender
            '#F0E68C', // Khaki
            '#D3D3D3', // Light Gray
            '#98FB98', // Pale Green
            '#FFDAB9'  // Peach Puff
        ];

        const cards = document.querySelectorAll('.card');

        cards.forEach((card, index) => {
            const color1 = colors[index % colors.length];
            const color2 = '#2c2c2e';
            card.style.background = `linear-gradient(135deg, ${color1}, ${color2})`;
        });
    </script>
</body>
</html>